<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El-Bachir El-Ibrahimi</title>
    <link rel="stylesheet" href="../style/layStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>
        El-Bachir El-Ibrahimi - 2023
        <img id="logo" src="../images/jsc/logojsc.png" alt="">
        <h1> البشير الإبراهيمي -إمام العلم والثورة</h1>
    </h1>

    <hr>

    <div id="vid">

        <img width="50%" height="80%"  src="../images/bashir/bachir3.png" alt="">

        <p  class="caption">
            <b>
                Description:
            </b><br><br>
            I worked as a preparer, researcher, and director on this film in Algeria .
            The duration of the film is 90 minutes. <br>
            Cheikh Mohamed Bachir El Ibrahimi ou Bachir El Ibrahimi,
            né le 13 juin 1889 à Ouled Brahem (Algérie) et mort le 20 mai 1965 à Sétif (Algérie),
            est un érudit musulman, journaliste, écrivain, historien,
            linguiste et poète algérien, compagnon de route et successeur d'Abdelhamid Ben Badis
            à la tête de l'association des oulémas musulmans algériens.
            After his release, in one year he established seventy-three schools and writers; 
            The goal was to spread the Arabic language, and to do this through memorizing
            the Holy Qur’an, to avoid the interference of the French occupation authorities.
            The Algerians competed to build schools, and there were more than four hundred schools.
            In the year 1945 AD, he was thrown into a military prison, and was subjected to severe torture by the French.
            out in 1954 AD, he made trips to India and elsewhere to supply the revolution with money and weapons.


            
        </p>
    </div>
    <h2> Footage from the documentary</h3>
    <hr>
    <div id="gallery">
        <img src="../images/bashir/bachir1.png" alt="Expressive scene">
        <img src="../images/bashir/bachir2.png" alt="ketchawa Mosque">
        <img src="../images/bashir/bachir4.png" alt="">
        <img src="../images/bashir/bachir5.png" alt="Expressive scene">
        <img src="../images/bashir/bachir6.png" alt="Expressive scene">
        <img src="../images/bashir/bachir8.png" alt="">
        <img src="../images/bashir/bachir7.png" alt="">
        <img src="../images/bashir/bachir15.png" alt="Expressive scene">
        <img src="../images/bashir/bachir14.png" alt="Expressive scene">
        <img src="../images/bashir/bachir9.png" alt="">
        <img src="../images/bashir/bachir10.png" alt="">
        <img src="../images/bashir/bachir11.png" alt="Expressive scene">
        <img src="../images/bashir/bachir12.png" alt="">
        <img src="../images/bashir/bachir13.png" alt="">
        <img src="../images/bashir/bachir16.png" alt="">
        <img src="../images/bashir/bachir17.png" alt="">

        
        
        
    </div>
    
</body>
</html>
