<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dhahiya Wa Aljallad</title>
    <link rel="stylesheet" href="../style/layStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>
        Dhahiya Wa Aljallad - 2013
        <img id="logo" src="../images/nabaalogo.png" alt="">
        <h1>مجزرة بوسليم -الضحية والجلاد</h1>
    </h1>

    <hr>
    

    <div id="vid">
        <a href="https://www.youtube.com/watch?v=Ga1x97j3K70" target="_blank">
            <img width="50%" height="80%"  src="../images/dahiya/dahiya3.png" alt="" title="Click to watch">
        </a>

        <p  class="caption">
            <b>
                Description:
            </b><br><br>
            Dhahiya Wa Aljallad film 
            I worked as a preparer and researcher during filming in Libya in 2013. <br>
            The duration of the film was 30 minutes. <br>
            The Abu Salim prison massacre is believed to be a mass killing that took place on June 29, 1996, 
            and was considered the largest violation committed by Colonel Muammar Gaddafi’s regime in Libya, as it claimed the
            lives of about 1,269 detainees, most of whom were prisoners of conscience. It is one of the most prominent issues 
            that inflamed the passions of the Libyan revolution that began in mid-February 2011.


        </p>
    </div>
    <h2> Footage from the documentary</h3>
    <hr>
    <div id="gallery">
        <img src="../images/dahiya/dahiya6.png" alt="">
        <img src="../images/dahiya/dahiya5.png" alt="">
        <img src="../images/dahiya/dahiya3.png" alt="">
        <img src="../images/dahiya/dahiya8.png" alt="">
        <img src="../images/dahiya/dahiya2.png" alt="">
        <img src="../images/dahiya/dahiya4.png" alt="">
        <img src="../images/dahiya/dahiya7.png" alt="">
        <img src="../images/dahiya/dahiya1.png" alt="">
        
    </div>

</body>
</html>
