<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Doctor</title>
    <link rel="stylesheet" href="../style/layStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>
        Digital Doctor - 2023
        <img id="logo" src="../images/arabilogo.png" alt="">
        <h1>الطبيب الرقمي</h1>
    </h1>

    <hr>
    

    <div id="vid">
        <a href="https://www.alaraby2.com/programs/%D8%A3%D8%AB%D8%B1/%D8%A7%D9%84%D8%AD%D9%84%D9%82%D8%A9-28-%D8%A7%D9%84%D8%B7%D8%A8%D9%8A%D8%A8-%D8%A7%D9%84%D8%B1%D9%82%D9%85%D9%8A" target="_blank">
            <img width="50%" height="80%"  src="../images/doctor/doc1.png" alt="" title="Click to watch">
        </a>

        <p  class="caption">
            <b>
                Description:
            </b><br><br>
            The story of a doctor who helps poor people in remote areas of Algeria and creates initiatives with a group of young Algerians to help people all over Algeria and becomes a digital doctor by activating treatment through social networking sites and social media.

        </p>
    </div>
    <h2> Footage from the documentary</h3>
    <hr>
    <div id="gallery">

        <img src="../images/doctor/doc2.png" alt="">
        <img src="../images/doctor/doc8.png" alt="">
        <img src="../images/doctor/doc4.png" alt="">
        <img src="../images/doctor/doc6.png" alt="">
        <img src="../images/doctor/doc7.png" alt="">
        <img src="../images/doctor/doc3.png" alt="">
        

        
    </div>

</body>
</html>
