<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fish Qalbak</title>
    <link rel="stylesheet" href="../style/layStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>
        Fish Qalbak - 2015
        <img id="logo" src="../images/royalogo.png" alt="">
        <h1>فش قلبك</h1>
    </h1>

    <hr>
    
    <div id="vid">
        <iframe width="50%" height="80%" 
        src="https://www.youtube.com/embed/videoseries?list=PLAbmxNJce8JQef5PAdxwR8B5-S2R2g4Tj" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay;
        clipboard-write; encrypted-media
        gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>

        <p  class="caption">
            <b>
                Description:
            </b><br><br>
            A satirical comedy program that talks about social problems that Jordanian society suffers from,
            such as divorce, university violence, nepotism, and nepotism. In addition,
            the program consists of four paragraphs. The first is a comedy sketch that talks about the origin of the issue, and the second paragraph talks about a young man who loves Japanese culture and is greatly influenced by it and aspires to He becomes an inventor, but circumstances are against him. The third paragraph includes the opinions of people from the street in a sarcastic comedic style. The fourth paragraph is a paradox between the old generation and the younger generation.
            <br>
            It consists of 15 episodes.
        </p>
    </div>
    <h2> Footage from the documentary</h3>
    <hr>
    <div id="gallery">
        <img src="../images/fish/fish1.png" alt="">
        <img src="../images/fish/fish2.png" alt="">
        <img src="../images/fish/fish3.png" alt="">
        <img src="../images/fish/fish4.png" alt="">
        <img src="../images/fish/fish5.png" alt="">
        <img src="../images/fish/fish6.png" alt="">
        <img src="../images/fish/fish7.png" alt="">
        <img src="../images/fish/fish8.png" alt="">
        
    </div>

</body>
</html>
