<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inji Aflatoon</title>
    <link rel="stylesheet" href="../style/layStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>
        Inji Aflatoon - 2022
        <img id="logo" src="../images/jsc/logojsc.png" alt="">
        <h1>إنجي أفلاطون - ريشة الكادحين</h1>
    </h1>

    <hr>
    

    <div id="vid">
        <iframe width="560" height="315" 
        src="https://www.youtube.com/embed/pJo48kQqvxc?si=c0UOnocowjn7OImd" 
        title="YouTube video player" 
        frameborder="0" 
        
        allow="accelerometer; autoplay;
        clipboard-write; encrypted-media
        gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>

        <p  class="caption">
            <b>
                Description:
            </b><br><br>
            I worked as a preparer, researcher, and director on this film in Egypt.The 
            duration of the film is 52 minutes. <br> 
            Inji Efflatoun (1924-1989) was an Egyptian 
            painter as well as a Marxist and feminist activist. From June 1959 to July 1963,
            she was imprisoned by the Nasserite regime for her communist ties. Celebrated as
            early as the 1960s, and highly sought-after on the art market today, her production 
            from this period is often considered the highlight of her oeuvre. Is it because of
            their documentary value, as they testify to the oppression against political 
            opponents by the Nasserite regime and show the secret reality of the women’s prison?
            Is it because they shed light on the unusual personal history of this artist and activist?
            Or do these paintings have exceptional aesthetic qualities? Nadine Atallah attempts to answer
            these questions by observing a selection of paintings produced between 1959 and 1963
            in the light of unpublished letters written by Efflatoun to her family whilst she was in prison. 

        </p>
    </div>
    <h2> Footage from the documentary</h3>
    <hr>
    <div id="gallery">

        <img src="../images/inji/inji1.png" alt="Mostafa razzaz">
        <img src="../images/inji/inji2.png" alt="Sherwet Shafei">
        <img src="../images/inji/inji3.png" alt="Mouna Anis">
        <img src="../images/inji/inji4.png" alt="Majda Mahmoud">
        <img src="../images/inji/inji5.png" alt="Expressive scene">
        <img src="../images/inji/inji6.png" alt="Expressive scene">
        <img src="../images/inji/inji7.png" alt="Expressive scene">
        <img src="../images/inji/inji8.png" alt="A representative scene">
        <img src="../images/inji/inji9.png" alt="A representative scene">
        <img src="../images/inji/inji10.png" alt="A representative scene">

        
    </div>

</body>
</html>
