<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Irada Min Hadid</title>
    <link rel="stylesheet" href="../style/layStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>
        Irada Min Hadid - 2016
        <img id="logo" src="../images/royalogo.png" alt="">
        <h1>إرادة من حديد</h1>
    </h1>

    <hr>
    

    <div id="vid">
        <iframe width="50%" height="80%" 
        src="https://www.youtube.com/embed/videoseries?list=PLAbmxNJce8JTm873JvTDlXtGpQ2-PRVC4" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay;
        clipboard-write; encrypted-media
        gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>

        <p  class="caption">
            <b>
                Description:
            </b><br><br>
            A program that highlights the artistic, sporting and crafts achievements of people with disabilities who have reached global or national achievements,
            including the blind, the deaf, the dumb, and those with mobility disabilities, and the difficulties they are exposed to from the moment they are exposed
            to a disability accident until they reach global stardom. <br>
            The program also presents a visual monitoring of all the achievements made by the person. <br>
            The program consists of 30 episodes
        </p>

    </div>
    <h2> Footage from the documentary</h3>
    <hr>
    <div id="gallery">
        <img src="../images/irada/irada1.png" alt="">
        <img src="../images/irada/irada2.png" alt="">
        <img src="../images/irada/irada3.png" alt="">
        <img src="../images/irada/irada4.png" alt="">
        <img src="../images/irada/irada5.png" alt="">
        <img src="../images/irada/irada6.png" alt="">
        <img src="../images/irada/irada7.png" alt="">
        <img src="../images/irada/irada8.png" alt="">
        
    </div>

</body>
</html>
