<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laarbi Ben Mhidi</title>
    <link rel="stylesheet" href="../style/layStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>
        Laarbi Ben Mhidi - 2018
        <img id="logo" src="../images/jsc/logojsc.png" alt="">
        <h1>العربي بن مهيدي - صندوق الأفكار</h1>
    </h1>
    <hr>

    <div id="vid">
        <iframe 
        src="//www.youtube.com/embed/0mGTQaL3sko?si=_shp5PR5HAbkGOU7" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>

        <p  class="caption">
            <b>
                Description:
            </b><br><br>
            I worked as a preparer, researcher, and director on this film in Algeria and France.
            The duration of the film is 52 minutes. <br>
            Ben M’hidi played a major role in preparing for the armed revolution, 
            and he sought to persuade everyone to participate in it. He said his famous saying,
            “Throw the revolution into the street and the people will embrace it.” Also,
            give us your tanks and planes and we will voluntarily give you our bags and bombs.
            He became the first commander of the Fifth District of Oran. The martyr was among
            those who worked hard to hold the historic Fasting Conference on August 20, 1956,
            as he was the general secretary of the conference. He was then appointed a member of 
            the Coordination and Implementation Committee of the Algerian Revolution (the Supreme 
            Command of the Revolution). He led the Battle of Algiers at the beginning of the year 1956.

        </p>
    </div>
    <h2> Footage from the documentary</h3>
    <hr>
    <div id="gallery">
        <img src="../images/laarbi/larbi4.png" alt="DR. Med Amine Belghith">
        <img src="../images/laarbi/larbi7.png" alt="Bachir Drais">
        <img src="../images/laarbi/larbi2.png" alt="Dharifa Ben Mhidi’s sister">
        <img src="../images/laarbi/larbi8.png" alt="an actress">
        <img src="../images/laarbi/larbi1.png" alt="Algeria flag">
        <img src="../images/laarbi/larbi12.png" alt="A representative scene">
        <img src="../images/laarbi/larbi5.png" alt="A representative scene">
        <img src="../images/laarbi/larbi11.png" alt="Biskra">
        <img src="../images/laarbi/larbi6.png" alt="A representative scene">
        <img src="../images/laarbi/larbi10.png" alt="A representative scene">
        <img src="../images/laarbi/larbi9.png" alt="A representative scene">
        <img src="../images/laarbi/larbi3.png" alt="A representative scene">
    </div>

</body>
</html>
