<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>libya bald al 1 milion</title>
    <link rel="stylesheet" href="../style/layStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>
        Libya Bald Al Million - 2012
        <img id="logo" src="../images/jsc/logojsc.png" alt="">
        <h1>ليبيا بلد المليون حافظ</h1>
    </h1>

    <hr>
    

    <div id="vid">
        <iframe 
        src="https://www.youtube.com/embed/dTHau6tA-tY?si=BLuKYRbeI-mRKyyT" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
        
        <p  class="caption">
            <b>
                Description:
            </b><br><br>
            In 2012, I formulated the idea of the documentary film (Libya, the 
            Country of a Million) and researched and prepared the film,
            and it was filmed entirely in Libya during the Libyan revolution. <br>
            The duration of the film is 90 minutes. <br>
            It was a diverse film that talked about memorizers of the Holy Quran throughout Libya.
            The topics were divided in an attractive way, and we adopted the method of visual 
            coexistence in constructing the film, its topics, and its content.<br>
            There is no home in it without a reader or memorizer of the Book of God,
            whose hearts soar to the sky with its words and lights until their
            countries become aware of them. It is Libya that is full of readers and memorizers.

        </p>
    </div>
    <h2> Footage from the documentary</h3>
    <hr>
    <div id="gallery">
        <img src="../images/libyaImg/libya2.png" alt="">
        <img src="../images/libyaImg/libya4.png" alt="">
        <img src="../images/libyaImg/libya3.png" alt="">
        <img src="../images/libyaImg/libya1.png" alt="">
        <img src="../images/libyaImg/libya5.png" alt="">
        <img src="../images/libyaImg/libya6.png" alt="">
        <img src="../images/libyaImg/libya7.png" alt="">
        <img src="../images/libyaImg/libya8.png" alt="">
    </div>
    
</body>
</html>
