<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mafqood Fi Libya</title>
    <link rel="stylesheet" href="../style/layStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>
        Mafqood Fi Libya - 2013
        <img id="logo" src="../images/jsc/logojsc.png" alt="">
        <h1>مفقود في ليبيا</h1>
    </h1>

    <hr>
    

    <div id="vid">
        <iframe 
        src="//www.youtube.com/embed/P3y7d_WVkW4?si=PGaNKLU0RqlVHoc4" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
        
        <p  class="caption">
            <b>
                Description:
            </b><br><br>
            <strong> Duration of the film: 49 minutes.</strong> <br>
            As Libya recovers from the effects of the 2011 conflict, there are wounds that have not yet healed.
            On the International Day of Missing Persons, thousands of Libyan families still do not know what happened to their relatives who went missing due to the conflict and the actions of the former regime. <br>
            The definition of enforced disappearance as stated in the Rome Statute establishing the International Criminal Court is “the arrest, detention or abduction of persons with the authorization of, by or with the support of a State or political organization, followed by a refusal to acknowledge the deprivation of liberty or to provide information about the fate and whereabouts of those persons, with the intention of deporting them.” "from the scope of the law's protection for long periods of time."

        </p>
    </div>
    <h2> Footage from the documentary</h3>
    <hr>
    <div id="gallery">
        <img src="../images/mafqood/mafqood1.png" alt="">
        <img src="../images/mafqood/mafqood8.png" alt="">
        <img src="../images/mafqood/mafqood5.png" alt="">
        <img src="../images/mafqood/mafqood3.png" alt="">
        <img src="../images/mafqood/mafqood2.png" alt="">
        <img src="../images/mafqood/mafqood4.png" alt="">
        <img src="../images/mafqood/mafqood6.png" alt="">
        <img src="../images/mafqood/mafqood7.png" alt="">
    </div>
    
</body>
</html>
