<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mofdi Zakariya</title>
    <link rel="stylesheet" href="../style/layStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>
        Mofdi Zakariya - 2014
        <img id="logo" src="../images/jsc/logojsc.png" alt="">
        <h1>مفدي زكريا - شاعر الثورة الجزائرية</h1>
    </h1>

    <hr>
    

    <div id="vid">
        <iframe 
        src="https://www.youtube.com/embed/JQVhXqx0Nbo?si=OOc8KPq5okVDbuLP" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
        
        <p  class="caption">
            <b>
                Description:
            </b><br><br>
            Duration of the film: 57 minutes. <br>
            It is said that in cell No. 69 of Barbaros Prison in Algeria, the great Algerian poet Mufdi Zakaria wrote the verses of the poem “The Oath.” It was said that he wrote it in his own blood on the walls of his cell after Abane Ramadan, known as the architect of the revolution, asked him to compose an Algerian poem, to be the national anthem of Algeria.
            This was at the beginning of the year 1955, and this story spread in Algeria about the history of the composition of the most passionate national anthems, while another story says that the poet responded to the Mujahideen’s request to write the national anthem in less than two days. This difference does not change the fact that Sheikh Zakaria bin Sulaiman, known as Mufdi Zakaria, was the writer and instigator of the glory of the Algerian revolution, and his name was immortalized in books of national poetry, 
            making him a number in the records of French colonial prisons.
        </p>
    </div>
    <h2> Footage from the documentary</h3>
    <hr>
    <div id="gallery">
        <img src="../images/mofdi/mofdi1.png" alt="">
        <img src="../images/mofdi/mofdi2.png" alt="">
        <img src="../images/mofdi/mofdi3.png" alt="">
        <img src="../images/mofdi/mofdi4.png" alt="">
        <img src="../images/mofdi/mofdi5.png" alt="">
        <img src="../images/mofdi/mofdi6.png" alt="">
        <img src="../images/mofdi/mofdi7.png" alt="">
        <img src="../images/mofdi/mofdi8.png" alt="">

        
        
    </div>
    
</body>
</html>
