<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oqool taht El-Mijhar</title>
    <link rel="stylesheet" href="../style/layStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>
        Oqool taht El-Mijhar - 2019
        <img id="logo" src="../images/royalogo.png" alt="">
        <h1>عقول تحت المجهر</h1>
    </h1>

    <hr>
    

    <div id="vid">
        <iframe width="560" height="315" 
        src="https://www.youtube.com/embed/videoseries?list=PLAbmxNJce8JTg5PAW_Zc5Vf8xowNtjnSZ" 
        title="YouTube video player" 
        frameborder="0" 
        
        allow="accelerometer; autoplay;
        clipboard-write; encrypted-media
        gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>

        <p  class="caption">
            <b>
                Description:
            </b><br><br>
            A documentary program that highlights Jordanian inventors and their most prominent innovations through which they obtained a patent and tried to embody these innovations on the ground through electronic and electrical devices. <br>
            Then, in the other part of the program, we monitor their suffering in marketing their products under government bureaucracy. <br>
            It is a program consisting of 30 episodes.
        </p>
    </div>
    <h2> Footage from the documentary</h3>
    <hr>
    <div id="gallery">
        <img src="../images/oqool/oqool1.png" alt="">
        <img src="../images/oqool/oqool2.png" alt="">
        <img src="../images/oqool/oqool3.png" alt="">
        <img src="../images/oqool/oqool4.png" alt="">
        <img src="../images/oqool/oqool5.png" alt="">
        <img src="../images/oqool/oqool6.png" alt="">
        <img src="../images/oqool/oqool7.png" alt="">
        <img src="../images/oqool/oqool8.png" alt="">
        <img src="../images/oqool/oqool9.png" alt="">
        <img src="../images/oqool/oqool10.png" alt="">
        <img src="../images/oqool/oqool11.png" alt="">
        <img src="../images/oqool/oqool12.png" alt="">
        <img src="../images/oqool/oqool13.png" alt="">
        <img src="../images/oqool/oqool14.png" alt="">
        
    </div>

</body>
</html>
