<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Last Mission</title>
    <link rel="stylesheet" href="../style/layStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>
        The Last Mission - 2018
        <img id="logo" src="../images/aqabalogo.png" alt="">
        <h1>المهمة الأخيرة</h1>
    </h1>

    <hr>
    

    <div id="vid">

        <img width="50%" height="80%"  src="../images/last mission/plane12.png" alt="">
        

        <p  class="caption">
            <b>
                Description:
            </b><br><br>
            An adventure movie that talks about the sinking of the c130 plane in the Gulf of Aqaba to turn it into a new coral reef. <br>
            Many television channels, security agencies and government authorities participated in this major event. It was a solemn event, especially when the sinking process was 
            being prepared for over a period of 4 months. <br>
            The duration of the film is 50 minutes.

        </p>
    </div>
    <h2> Footage from the documentary</h3>
    <hr>
    <div id="gallery">

        <img src="../images/last mission/plane1.png" alt="">
        <img src="../images/last mission/plane2.png" alt="">
        <img src="../images/last mission/plane3.png" alt="">
        <img src="../images/last mission/plane4.png" alt="">
        <img src="../images/last mission/plane5.png" alt="">
        <img src="../images/last mission/plane6.png" alt="">
        <img src="../images/last mission/plane7.png" alt="">
        <img src="../images/last mission/plane8.png" alt="">
        <img src="../images/last mission/plane10.png" alt="">
        <img src="../images/last mission/plane11.png" alt="">

    </div>

</body>
</html>
