<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qadhafi & the West</title>
    <link rel="stylesheet" href="../style/layStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>
        Qadhafi & the West - 2016
        <img id="logo" src="../images/jsc/logojsc.png" alt="">
        <h1>القذافي والغرب</h1>
    </h1>

    <hr>
    

    <div id="vid">
        <iframe 
        src="https://www.youtube.com/embed/5F2Vv7yUz6Y?si=ESqAExXkIv8PdXl3" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
        
        <p  class="caption">
            <b>
                Description:
            </b><br><br>
            Duration of the film: 48 minutes. <br>
            They called him the “Messenger of Death,” and he could reach victims in various parts of the earth, bring them to his office, and send them to hell, and no one could see his plans and machinations.
            But the centers of influence have changed in Tripoli since 2011, and ordinary people have become able to stumble upon the secrets and documents of Gaddafi’s inferno in the period from 1994 to 2009.
            In one of the documents found in his office, Libyan Intelligence Director Musa Koussa thanks the British MI6 for the oranges they sent him and informs them that he received them.
            The oranges did not arrive in a food shipment, but in a small CIA plane.
            From this document, the film “Gaddafi and the West” begins to reveal the secrets of a secret program that lasted 10 years, according to which American and British intelligence pursued many Libyan opponents and handed them over to Gaddafi.
            With the fall of the Gaddafi regime and his death in 2011, new threads were revealed about the West’s deportation of Libyan dissidents to the Gaddafi regime and how the two sides were coordinating persecution and torture operations.

        </p>
    </div>
    <h2> Footage from the documentary</h3>
    <hr>
    <div id="gallery">
        <img src="../images/qadhafi/qadhafi1.png" alt="">
        <img src="../images/qadhafi/qadhafi2.png" alt="">
        <img src="../images/qadhafi/qadhafi3.png" alt="">
        <img src="../images/qadhafi/qadhafi11.png" alt="">
        <img src="../images/qadhafi/qadhafi4.png" alt="">
        <img src="../images/qadhafi/qadhafi9.png" alt="">
        <img src="../images/qadhafi/qadhafi5.png" alt="">
        <img src="../images/qadhafi/qadhafi7.png" alt="">
        <img src="../images/qadhafi/qadhafi8.png" alt="">
        <img src="../images/qadhafi/qadhafi10.png" alt="">
        
        
    </div>
    
</body>
</html>
