<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qawim</title>
    <link rel="stylesheet" href="../style/layStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>
        Qawim- 2017
        <img id="logo" src="../images/royalogo.png" alt="">
        <h1>قاوم</h1>
        
    </h1>

    <hr>

    <div id="vid">
        <img width="50%" height="80%"  src="../images/qawim/qawim1.png" alt="">

        <p  class="caption">
            <b>
                Description:
            </b><br><br>
            A film that highlights the story of a Palestinian man who was subjected to injustice in one of the refugee camps. He was resisting using weapons, but after the death of his close friend, he turned to resisting using a brush and became a high-caliber painter who draws, sculpts, and composes everything related to the cause of his homeland.
        </p>
    </div>
    <h2> Footage from the documentary</h3>
    <hr>
    <div id="gallery">
        
        <img src="../images/qawim/qawim2.png" alt="">
        <img src="../images/qawim/qawim3.png" alt="">
        <img src="../images/qawim/qawim4.png" alt="">
        <img src="../images/qawim/qawim5.png" alt="">
        <img src="../images/qawim/qawim6.png" alt="">
        <img src="../images/qawim/qawim7.png" alt="">
        <img src="../images/qawim/qawim8.png" alt="">
        <img src="../images/qawim/qawim9.png" alt="">
        <img src="../images/qawim/qawim10.png" alt="">
        <img src="../images/qawim/qawim11.png" alt="">

    </div>
    
</body>
</html>
