<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hadha Alsabah 2</title>
    <link rel="stylesheet" href="../style/layStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>
        Hadha Alsabah 2 - 2021
        <img id="logo" src="../images/jsc/logojsc.png" alt="">
        <h1>تقارير هذا الصباح</h1>
    </h1>

    <hr>
    

    <div id="vid">
        <iframe 
        src="https://www.youtube.com/embed/2jxS1dzWlBM?si=QzD3bxxbGUN1pjsn" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
        
        <p  class="caption">
            <b>
                Description:
            </b><br><br>
            Reports This Morning is a series of reports produced by Al Jazeera. This series talks about entertainment topics that include tourism, culture, arts, and various things in all countries of the world. The series deals with striking and beautiful topics consisting of a group of people telling the story of a place, a person, an archaeological and historical site, or a dish of famous food. Or culture and tradition
        </p>
    </div>
    <h2> Footage from the documentary</h3>
    <hr>
    <div id="gallery">
        <img src="../images/sabah2/sabah1.png" alt="">
        <img src="../images/sabah2/sabah2.png" alt="">
        <img src="../images/sabah2/sabah3.png" alt="">
        <img src="../images/sabah2/sabah4.png" alt="">
        <img src="../images/sabah2/sabah5.png" alt="">
        <img src="../images/sabah2/sabah6.png" alt="">

    </div>
    
</body>
</html>
