<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seesaw</title>
    <link rel="stylesheet" href="../style/layStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>
        Seesaw - 2015
        <img id="logo" src="../images/royalogo.png" alt="">
        <h1>سيسو</h1>
    </h1>

    <hr>

    <div id="vid">
        <iframe width="560" height="315" 
        src="https://www.youtube.com/embed/videoseries?list=PLAbmxNJce8JRewod4mJZhdUdXFdeFl2Wg" 
        title="YouTube video player" 
        frameborder="0" 
        
        allow="accelerometer; autoplay;
        clipboard-write; encrypted-media
        gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>

        <p  class="caption">
            <b>
                Description:
            </b><br><br>
            A black comedy program based on two characters who play the seesaw game to escape the pressures of social life,
            and the garden is the only outlet for them to talk about issues of the homeland and society that they do not dare to talk about in the street,
            but they practice this conversation while playing and what they talk about is happening in front of them as a dramatic scene,
            as if the scene It expresses their imagination and the program consists of 15 episodes
        </p>
    </div>
    <h2> Footage from the documentary</h3>
    <hr>
    <div id="gallery">

        <img src="../images/ses/seesaw4.png" alt="">
        <img src="../images/ses/seesaw1.png" alt="">
        <img src="../images/ses/seesaw5.png" alt="">
        <img src="../images/ses/seesaw3.png" alt="">
        <img src="../images/ses/seesaw2.png" alt="">
        <img src="../images/ses/seesaw8.png" alt="">
        <img src="../images/ses/seesaw6.png" alt="">
        <img src="../images/ses/seesaw7.png" alt="">
        


    </div>

</body>
</html>
