<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alsitar</title>
    <link rel="stylesheet" href="../style/layStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>
        Alsitar- 2017
        <img id="logo" src="../images/royalogo.png" alt="">
        <h1>الستار</h1>
    </h1>

    <hr>
    

    <div id="vid">

        <iframe 
        src="https://www.youtube.com/embed/videoseries?list=PLAbmxNJce8JR0qiczQmXuzfsmyiN7eaca" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
        
        <p  class="caption">
            <b>
                Description:
            </b><br><br>
            A social experiments program that monitors society’s view of people with disabilities and how they deal with them through a hidden camera that monitors the entire events that take place between people and the disabled. <br>
            The program relies on a dramatic scene that explains the problem they suffer from. <br>
            Then in its second part, the program reviews the opinions of people in the street about the issue, 
            and in the last part of The program is creating a social experiment that shows the reality of society regarding the issue that people with disabilities suffer from. 
            <br>The program consists of 15 episodes

        </p>
    </div>
    <h2> Footage from the documentary</h3>
    <hr>
    <div id="gallery">
        <img src="../images/sitar/sitar1.png" alt="">
        <img src="../images/sitar/sitar2.png" alt="">
        <img src="../images/sitar/sitar3.png" alt="">
        <img src="../images/sitar/sitar5.png" alt="">
        <img src="../images/sitar/sitar6.png" alt="">
        <img src="../images/sitar/sitar7.png" alt="">
        <img src="../images/sitar/sitar8.png" alt="">
        <img src="../images/sitar/sitar9.png" alt="">
        <img src="../images/sitar/sitar10.png" alt="">
        <img src="../images/sitar/sitar11.png" alt="">
        <img src="../images/sitar/sitar12.png" alt="">
        <img src="../images/sitar/sitar14.png" alt="">

        

    </div>
    
</body>
</html>
